<template>
    <div class="Polaris-Page"  style="padding: 20px;">
            <bullet-list-loader :width="300" :height="200" primaryColor="#dbdbdb" v-if="is_load">
        </bullet-list-loader>
        <div v-else class="Polaris-Page__Content">
            <div class="Polaris-Card">
                <div class="Polaris-Card__Section">
                    <div class="order-list">
                        <table class="w-100">
                            <thead>
                            <tr v-if="orders.length > 0">
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Orders</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Date</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Customer</span></h3>
                                </th>
                                <th class="text-left">
                                    <h3><span class="Polaris-TextStyle--variationStrong">Total</span></h3>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-if="orders.length > 0"
                                v-for="(order, index) in orders" :key="index" class="Polaris-ResourceItem">
                                <router-link
                                        :to="{name :'order-details', params: { id: order.id  }}"
                                        tag="td" class="">
                                    <div class="d-flex align-center">
                                        <a href="" class="mb-0 Polaris-Link">{{order.name}}</a>
                                    </div>
                                </router-link>
                                <td>
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{order.createdAt}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{order.customer}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{order.price}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr v-else>
                                <td colspan="4" class="text-center">
                                    <svg style="fill: #c3cfd8;width: 80px;margin-bottom: 5px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M8 12c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm9.707 4.293l-4.82-4.82C13.585 10.493 14 9.296 14 8c0-3.313-2.687-6-6-6S2 4.687 2 8s2.687 6 6 6c1.296 0 2.492-.415 3.473-1.113l4.82 4.82c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414z"></path></svg>
                                    <h2 class="Polaris-Heading">Could not find any Order</h2>
                                    <p class="Polaris-TextStyle--variationSubdued">Try changing the filters or search term</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <custom-paginate v-if="orders.length > 0" :prev_page="prev_page" :next_page="next_page"></custom-paginate>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import helper from "../../helper";
import CustomPaginate from "../shopify/CustomPaginate";
import {BulletListLoader} from 'vue-content-loader';

export default {
    name: "Dashboard",
    components: {
        CustomPaginate,
        BulletListLoader
    },
    data(){
        return{
            orders: [],
            next_page: '',
            prev_page: '',
            is_load: true,
        }
    },
    methods:{
        async getOrders(cursor, page){
            let base = this;
            base.is_load = true;
            let endPoint = (cursor == 1) ? 'dashboard' : '/dashboard?' + page + '=' + cursor;
            helper.startLoading();
            await axios.get(endPoint)
                .then(function (res) {
                    var data = res.data.data;
                    base.orders = data.order;
                    base.next_page = (data.pageInfo.hasNextPage) ?  data.next : '';
                    base.prev_page = (data.pageInfo.hasPreviousPage) ?  data.prev : '';
                }).catch(function (err) {
                    helper.errorToast(err.response.data);
                }).finally(res => {
                    helper.stopLoading();
                    base.is_load = false;
                });
        },
    },
    created() {
        let base = this;
        this.getOrders(1);
        base.$root.$on('get-data', function(cursor, page){
            base.getOrders(cursor, page);
        });
    },
}
</script>

<style scoped>

</style>
