<template>
    <div class="">
        <div class="Polaris-Page">
            <div class="Polaris-Page__Content">
                <back-arrow></back-arrow>
            </div>
        </div>

        <div class="Polaris-Page">
            <bullet-list-loader :width="300" :height="200" primaryColor="#dbdbdb" v-if="is_load">
            </bullet-list-loader>
            <div v-else class="Polaris-Page__Content d-flex">
                <div class="Polaris-Card" style="padding: 20px;width: 70%;">
                    <div v-if="order.lineItem.length > 0" v-for="(lt, lindex) in order.lineItem" :key="lindex">
                        <p v-if="lindex == 0" class="product-type">{{lt.productType}}</p>
                        <p v-else-if="lindex > 0 && order.lineItem[lindex - 1]['productType'] !== lt.productType" class="product-type">{{lt.productType}}</p>
                        <div class="order-list">
                            <table class="w-100">
                            <thead></thead>
                            <tbody>
                            <tr class="Polaris-ResourceItem">
                                <td>
                                    <div class="d-flex align-center">
                                        <img :src="lt.image" alt="" class="img-fluid"/>
                                    </div>
                                </td>
                                <td style="white-space: break-spaces;">
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{lt.name}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{lt.price}} x {{lt.qty}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-center">
                                        <p class="mb-0">{{lt.total}}</p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                <div class="ml-16">
                    <div class="Polaris-Card" style="padding: 20px;">
                        <h1 class="Polaris-Heading">Notes</h1>
                        <p class="mt-10">{{order.note}}</p>
                    </div>
                    <div class="Polaris-Card">
                        <div class="Polaris-Card__Header">
                            <h1 class="Polaris-Heading">Customer</h1>
                        </div>
                        <div class="Polaris-Card__Section" v-if="typeof order.customer == 'string'">{{ order.customer }}</div>
                        <div class="Polaris-Card__Section" v-else>
                            <p><a data-polaris-unstyled="true" target="_blank" :href="'https://' + order.domain + '/admin/customers/' + order.customer.id" class="Polaris-Link">{{ order.customer.name }}</a></p>
                            <p><a data-polaris-unstyled="true" class="">{{order.customer.total_orders}} orders</a></p>
                        </div>

                        <div class="Polaris-Card__Section">
                            <h3 class="Polaris-Heading">CONTACT INFORMATION</h3>
                            <div class="mt-10" v-if="typeof order.customer == 'string'">
                                <p><a data-polaris-unstyled="true">No email provided</a></p>
                                <p><a data-polaris-unstyled="true">No phone number</a></p>
                            </div>
                            <div class="mt-10" v-else>
                                <p><a data-polaris-unstyled="true" href="#" class="Polaris-Link">{{ order.customer.email }}</a></p>
                                <p><a data-polaris-unstyled="true" class="">{{order.customer.phone}}</a></p>
                            </div>
                        </div>

                        <div class="Polaris-Card__Section">
                            <h3 class="Polaris-Heading">SHIPPING ADDRESS</h3>
                            <div class="mt-10 ship-address" v-if="order.shipping_add">
                                <span v-if="typeof order.shipping_add == 'string'">{{order.shipping_add}}</span>
                                <div v-else>
                                    <span>{{order.shipping_add.name}}</span>
                                    <span>{{order.shipping_add.address1}}</span>
                                    <span>{{order.shipping_add.address2}}</span>
                                    <span>{{order.shipping_add.zip}} {{order.shipping_add.city}} {{order.shipping_add.province_code}}</span>
                                    <span>{{order.shipping_add.country}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="Polaris-Card__Section">
                            <h3 class="Polaris-Heading">BILLING ADDRESS</h3>
                            <div class="mt-10 bill-add" v-if="order.billing_add">
                                <span v-if="typeof order.billing_add == 'string'">{{order.billing_add}}</span>
                                <div v-else>
                                    <span>{{order.billing_add.name}}</span>
                                    <span>{{order.billing_add.address1}}</span>
                                    <span>{{order.billing_add.address2}}</span>
                                    <span>{{order.billing_add.zip}} {{order.billing_add.city}} {{order.billing_add.province_code}}</span>
                                    <span>{{order.billing_add.country}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import BackArrow from "../shopify/BackArrow";
import helper from "../../helper";
import {BulletListLoader} from 'vue-content-loader';

export default {
    name: "OrderDetails",
    components: {
        BackArrow,BulletListLoader
    },
    data(){
        return{
            id: '',
            order: [],
            is_load: true,
        }
    },
    methods:{
        async getOrder(){
            let base = this;
            base.is_load = true;
            helper.startLoading();
            await axios.get('order-details?id=' + this.id)
                .then(function (res) {
                    base.order = res.data.data;
                }).catch(function (err) {
                    helper.errorToast(err);
                }).finally(res => {
                    helper.stopLoading();
                    base.is_load = false;
                });
        },
    },
    created() {
        this.id = this.$route.params.id;
        this.getOrder();
    }
}
</script>

<style scoped>

</style>
