.custom-box {
  background-color: #fff;
  padding: 1.6rem;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
}

.custom-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.custom-row > * {
  padding-left: 8px;
  padding-right: 8px;
}

.area-settings-nav__item {
  width: 33.333%;
}

@media (max-width: 767px) {
  .area-settings-nav__item {
    width: 100%;
  }
}

.area-settings-nav__action {
  font-size: 1.4rem;
  display: flex;
  width: 100%;
  border-radius: 3px;
  color: #212b36;
  text-decoration: none;
  padding: 1.2rem;
}

.area-settings-nav__action:hover {
  background-color: #f9fafb;
  text-decoration: none;
  outline: none;
}

.area-settings-nav__action:hover .area-settings-nav__media {
  background-color: #dfe3e8;
}

.area-settings-nav__media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  margin-right: 1.6rem;
  border-radius: 3px;
  background-color: #f4f6f8;
}

.area-settings-nav__media .next-icon--size-20 {
  fill: #919eab;
  color: transparent;
  width: 20px;
  height: 20px;
}

.area-settings-nav__action:hover .area-settings-nav__title {
  color: #084e8a;
}

.area-settings-nav__title {
  font-weight: 600;
  margin: 0;
  color: #007ace;
}

.area-settings-nav__description {
  color: #637381;
  margin: 0;
}

.w-33 {
  width: 33.333%;
}

.w-25 {
  width: 25%;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.ml-16 {
  margin-left: 16px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 10px;
}

.mt-1 {
  margin-top: 0.5rem !important;
}

.align-end {
  align-items: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.mt-16 {
  margin-top: 16px;
}

.Polaris-ResourceItem {
  position: relative;
  outline: none;
  cursor: pointer;
}

.Polaris-ResourceItem:hover {
  background-image: linear-gradient(rgba(223, 227, 232, 0.3), rgba(223, 227, 232, 0.3));
}

.Polaris-ResourceItem__Link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.Polaris-ResourceItem__Container {
  position: relative;
  z-index: 2;
  padding: 1.2rem 2rem;
  min-height: 4.4rem;
  display: flex;
  align-items: flex-start;
}

.Polaris-ResourceItem__Media {
  flex: 0 0 auto;
  margin-right: 2rem;
  color: inherit;
  text-decoration: none;
}

.Polaris-ResourceItem__Owned {
  display: flex;
  align-self: flex-start;
}

.Polaris-ResourceItem__Content {
  min-width: 0;
  max-width: 100%;
  flex: 1 1 auto;
  align-self: center;
}

.p-0 {
  padding: 0 !important;
}

.met-according {
  border-bottom: 0.1rem solid #dfe4e8;
}

.met-according-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 0.1rem solid #dfe4e8;
}

.met-according-item h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

.met-according-item i {
  font-size: 2rem;
}

.met-according-body {
  padding: 2rem;
}

.tag {
  position: relative;
  display: inline-block;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  padding: 0 1rem;
  line-height: 2.8rem;
  vertical-align: middle;
  background-color: #B4E1FA;
  color: #001429;
}

.item p {
  margin-bottom: 1.5rem;
}

.align-center {
  align-items: center;
}

.mr-10 {
  margin-right: 10px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.border-radius-0 {
  border-radius: 0;
}

.mt-30 {
  margin-top: 30px;
}

.ui-icon {
  margin-top: 1.5em !important;
}

.tag-color {
  background-color: #c1c0d8;
}

.Polaris-Button {
  white-space: nowrap;
}

.ad-metafield-field {
  padding: 3px 10px;
}

.ad-metafield-field:not(:last-child) {
  border-right: 0.2rem solid #c4cdd5;
}

.ad-metafield-item {
  padding: 30px 20px;
}

.ad-metafield-item:not(:last-child) {
  border-bottom: 0.1rem solid #c4cdd5;
}

.order-list {
  max-width: 100%;
  min-width: 100%;
  overflow-x: auto;
}

.order-list th {
  border-bottom: 1px solid #ebeef0;
  padding: 8px 10px;
  font-size: 1.4rem;
}

.order-list tr td {
  padding: 8px 10px;
  font-size: 1.4rem;
  border-bottom: 1px solid #ebeef0;
  white-space: nowrap;
}

.order-list tr:last-child td {
  border-bottom: 0;
}

.text-capitalize {
  text-transform: capitalize;
}

.mb-25 {
  margin-bottom: 25px;
}

.Polaris-Card__Header-meta {
  padding: 2rem 1rem 2rem 2rem;
}

@media (max-width: 767px) {
  .d-xs-block {
    display: block !important;
  }

  .Polaris-Page {
    padding: 0 15px;
  }

  .mb-xs-15 {
    margin-bottom: 15px;
  }

  .mb-xs-10 {
    margin-bottom: 10px;
  }

  .justify-content-xs-end {
    justify-content: flex-end;
  }

  .tag-list {
    flex-wrap: wrap;
  }

  .tag-list .tag {
    margin: 0;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .met-according-item {
    padding: 1rem;
  }

  .ad-metafield-item {
    padding: 1rem;
  }

  .icon-dragn {
    display: none !important;
  }

  .metafield-item {
    width: auto;
  }

  .metafield-item .w-25 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .ml-xl-0 {
    margin-left: 0;
  }

  .mobile-remove-btn .Polaris-Label {
    display: none;
  }
}

button.Polaris-ActionList__Item.nh:hover {
  background: #5c6ac4;
  color: white;
}

.adv-meta-syncing {
  width: 100%;
  padding: 4px 15px;
  color: #fff;
  background: #ff5656;
  margin: 10px 0 0 10px;
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 2px;
}

.adv-meta-syncing-st-shop {
  margin: 10px 0 0 1px;
}

.hide-box-shadow {
  box-shadow: none;
}

.menu-icons {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-fluid {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-type {
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 5px;
}

h1.Polaris-Heading {
  font-size: 1.6rem;
}

h3.Polaris-Heading {
  font-size: 1.3rem;
}

.ship-address span,
.bill-add span {
  display: block;
}

.order-list tr td:first-child {
  width: 20%;
}

.order-list tr td:nth-child(02) {
  width: 50%;
}

.order-list tr td:nth-child(03) {
  width: 15%;
}

.order-list tr td:nth-child(04) {
  width: 15%;
}

